@using mtg_lib.Library.Models;
@model mtg_app.Models.ShoppingCartViewModel;
@{
    ViewData["Title"] = "Thank You";
;}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">MTG - My Shopping Cart</h1>
</div>


<div id="ShoppingCartContainer">
    
    <h5 id="empty">Thank you for buying with us :)</h5>

</div>